.headerP{
    display: flex;
    justify-content: space-between  ;
    text-align: center;
    background-color: #6191833b;
    width: 100%;
    height: 50px;
    align-items: center;
    padding: 2rem;
    color: rgb(108, 174, 231);

   
    .imgHeader{
        width: 50px;  
        cursor: pointer;
    
       }


}
