.main{
    display: grid;
    width: 100%;
    justify-content: center;   
    height: 100vh;
    background-image:url('/public/main-qimg-8219ae92d4669e2a9e1100e8dfe9f3f4.gif');
    
    
    }
    

    
    .card{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 500px;
        font-size: 22px;
    
    
        .imgcard{
            width: 250px;
            margin-right: 2.4rem;
        }
    
        .uList{
            list-style-type: none;
            text-align: start;
            font-weight: 400;
        
     
        
        }
    
        .uList li{
            margin: 10px;
        }
    
    
    }