.sectionHome{
  width: 100%;
  height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-image: url(https://media0.giphy.com/media/l5JbspfwZ0yjHjlJ0K/giphy.gif);
  background-size: cover;

}